body {
  margin: 0;
  height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.bgwhite {
  background: black;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1.5fr;
  grid-template-rows: 1fr 4fr 3fr 2fr;
  grid-gap: 10px;
  align-self: center;
  justify-self: center;
  grid-template-areas:
    "main main header"
    "main main container3"
    "container1 container2 container3"
    "footer footer container3";
  height: 100vh;
  margin: 3em;
  background: white;
}
.grid-container2 {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1.5fr;
  grid-template-rows: 1fr 4fr 3fr 2fr;
  align-self: center;
  justify-self: center;
  grid-template-areas:
    "top top container4"
    "top top container4"
    "summer container2 container4"
    "summer container2 container4";
  height: 70vh;
  margin: 10em;
}

main {
  //   grid-column-start: 1;
  //   grid-column-end: 3;

  //   grid-column: 1 / 3;

  //   grid-row-start: 1;
  //   grid-row-end: 3;

  //   grid-row: 1 / 3;

  grid-area: main;

  background: #fffadf;
  color: white;
  font-size: 10em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.top {
  grid-area: top;
  background: url("../assets/cars.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  text-align: left;
  font-size: 6em;
}

section.container1 {
  grid-area: container1;
  background: #c4b35a;
}
section.summer {
  grid-area: summer;
  background: #90ceda;
  color: rgb(0, 0, 0);
  font-size: 3em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  text-align: left;
}
section.container2 {
  grid-area: container2;
  background: #333333;
  color: rgb(224, 224, 224);
  font-size: 3em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  text-align: left;
}
section.footer {
  grid-area: footer;
  background: #202020;
}

header {
  grid-area: header;
  background: white;
}

div.container3 {
  grid-area: container3;
  background: url("../assets/coffee.jpg") no-repeat;
  background-size: cover;
}

div.container4 {
  grid-area: container4;
  background: url("../assets/leaves.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#pagepiling .section {
  text-align: center;

  &.sec3 {
    background: url("../assets/nature.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    text-align: left;
  }
  &.sec4 {
    background: url("../assets/greenfull.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }
  &.sec5 {
    background: url("../assets/tunnel.jpeg") no-repeat;
    background-size: cover;
    background-position: center;
    text-align: right;
  }

  h2 {
    color: white;
    font-size: 10em;
    text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    margin: 2em;
  }
}

#pp-nav li .active span,
.pp-slidesNav .active span {
  background: white;
}
