body {
  margin: 0;
  height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.bgwhite {
  background: black;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.2fr 1.5fr;
      grid-template-columns: 1fr 1.2fr 1.5fr;
  -ms-grid-rows: 1fr 4fr 3fr 2fr;
      grid-template-rows: 1fr 4fr 3fr 2fr;
  grid-gap: 10px;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
      grid-template-areas: "main main header" "main main container3" "container1 container2 container3" "footer footer container3";
  height: 100vh;
  margin: 3em;
  background: white;
}

.grid-container2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.2fr 1.5fr;
      grid-template-columns: 1fr 1.2fr 1.5fr;
  -ms-grid-rows: 1fr 4fr 3fr 2fr;
      grid-template-rows: 1fr 4fr 3fr 2fr;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
      grid-template-areas: "top top container4" "top top container4" "summer container2 container4" "summer container2 container4";
  height: 70vh;
  margin: 10em;
}

main {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  background: #fffadf;
  color: white;
  font-size: 10em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.top {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: top;
  background: url("../assets/cars.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  text-align: left;
  font-size: 6em;
}

section.container1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: container1;
  background: #c4b35a;
}

section.summer {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: summer;
  background: #90ceda;
  color: black;
  font-size: 3em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  text-align: left;
}

section.container2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: container2;
  background: #333333;
  color: #e0e0e0;
  font-size: 3em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  text-align: left;
}

section.footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  background: #202020;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: header;
  background: white;
}

div.container3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: container3;
  background: url("../assets/coffee.jpg") no-repeat;
  background-size: cover;
}

div.container4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 3;
  grid-area: container4;
  background: url("../assets/leaves.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#pagepiling .section {
  text-align: center;
}

#pagepiling .section.sec3 {
  background: url("../assets/nature.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  text-align: left;
}

#pagepiling .section.sec4 {
  background: url("../assets/greenfull.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#pagepiling .section.sec5 {
  background: url("../assets/tunnel.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  text-align: right;
}

#pagepiling .section h2 {
  color: white;
  font-size: 10em;
  text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  margin: 2em;
}

#pp-nav li .active span,
.pp-slidesNav .active span {
  background: white;
}
/*# sourceMappingURL=main.css.map */